* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #FAFAFA;
}

#principal {
  width: 70%;
  height: 80%;
  overflow: hidden;
  margin: 50px auto;
  padding: 10px;
}

.pizq {
  width: 50%;
  float: left;
  text-align: right;
}
/* Estas dos líneas son para que el div del inicio se mantenga en la derecha */
.pder {
  width: 50%;
  float: right;
}

.contenido {
  width: 250px;
  margin: 10px auto;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 40px 50px;
}

.header {
  border: 0px solid #000;
  margin-bottom: 5px;
}

.header img {
  height: 50px;
  width: 195px;
  margin-right: -30px;
  position: relative;
}

.input {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.texto {
  position: relative;
}

.texto a {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #003569;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Segoe UI', monospace;
  font-weight: 400;
}

.boton {
  width: 100%;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.boton:focus {
    background-color: #C4E0FB;
}

.contenidobajo {
  width: 250px;
  margin: 10px auto;
  border: 1px solid #e6e6e6;
  padding: 35px 50px;
  background-color: #fff;
}

.partebaja {
  text-align: center;
  font-family: 'Segoe UI', monospace;
  font-weight: 400;
  color: #333;
}

.partebaja a {
  text-decoration: none;
  cursor: pointer;
  color: #3897f0;
  font-family: 'Segoe UI', monospace;
  font-weight: 400;
}

#footer {

font-family: 'Segoe UI', monospace;
text-align: center;
margin-top: 19%;
position: relative;
}

/*
 registro.php
*/
#cont-princ {
  width: 70%;
  height: 80%;
  overflow: hidden;
  margin: 50px auto;
  padding: 10px;
}

.cont-sec {
  width: 250px;
  margin: 10px auto;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 40px 50px;
}

.cabecera-reg {
  border: 0px solid #000;
  margin-bottom: 5px;
}

.cabecera-reg img {
  margin-left: 0%;
  width: 200px;
  margin-bottom: 5px;
}
.entrada-reg {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.sobretexto {
  position: relative;
}

.boton-reg {
  width: 100%;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.bajotexto {
  width: 250px;
  margin: 10px auto;
  border: 1px solid #e6e6e6;
  padding: 35px 50px;
  background-color: #fff;
}

.s-parte {
  text-align: center;
  font-family: 'Segoe UI', monospace;
  font-weight: 400;
  color: #333;
}
/*
home y home admin, div principal
*/
.cuerpo {
align-content: center;
}
.cuerpo h1 {
  text-align: center;
}
